.de-wrap{
    width: 1200px;
}
.de-top-left{
    width: 476px;
    height: 40px;
    margin: 15px 0 15px 30px;
    border-right:1px solid #e1e1e1;
    background: url("../img/detail_m.png") no-repeat 0 10px;
}
.de-top-preferred{
    margin-left: 39px;
}
.de-top-preferred p{
    margin-right: 12px;
}
.de-top-preferred span{
    color: #ef2f23;
}
.de-collect{
    width: 36px;
    height: 20px;
    border:1px solid #DDDDDD;
    margin-top: 9px;
    padding-left: 22px;
    line-height: 20px;
    color: #000;
    background: url("../img/detail_collection.png") no-repeat 10px 7px;
}
.de-contact{
    width: 58px;
    height: 20px;
    border:1px solid #DDDDDD;
    margin-top: 9px;
    text-align: center;
    line-height: 20px;
    color: #000;
    margin-left: 10px;
    background: url("../img/detail_contact.png") no-repeat 3px 3px;
    padding-left: 20px;
}
.de-top-left img{
    margin-top: 13px;
    margin-left: 10px;
}
.de-top-right{
    width: 570px;
    margin-top: 20px;
}
.de-search{
    width: 490px;
    height: 30px;
}
.de-search input{
    width: 408px;
    height: 26px;
    border: 1px solid #ef2f23;
}
.de-search span{
    display: inline-block;
    width: 72px;
    height: 28px;
    background: #ef2f23;
    text-align: center;
    line-height:28px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #ef2f23;
}
hr{
    color: #e1e1e1;
}
.de-banner {
    width: 89px;
    height: 87px;
    margin-top: 18px;
    margin-bottom: 15px;
}
nav{
    background: #404040;
    margin-bottom: 50px;
}
.de-nav{
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
    position: relative;
}
.de-nav >a{
    color: #fff;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border-right:1px solid #5C5C5C;
}
.de-nav img{
    width: 10px;
    height: 10px;
    margin-left: 8px;
    transition: all 500ms;
}
.de-subnav-all{
    position: absolute;
    top: 33px;
    left: 0;
    background: #404040;
    z-index: 3;
}
.de-subnav-all a{
    color: #fff;
    display: block;
    padding: 15px 45px;
}
.de-subnav-all li:hover{
    background: #666;
}
.de-subnav-coat, .de-subnav-jacket, .de-subnav-trousers, .de-subnav-shoes{
    position: absolute;
    top: 33px;
    left: 0;
    background: #404040;
    z-index: 3;
}
.de-subnav-coat a, .de-subnav-jacket a, .de-subnav-trousers a, .de-subnav-shoes a{
    color: #fff;
    display: block;
    padding: 15px 31px;
}
.de-subnav-coat li:hover, .de-subnav-jacket li:hover, .de-subnav-trousers li:hover, .de-subnav-shoes li:hover{
    background: #666;
}
.de-container{
    width: 400px;
    height: 672px;
}
.de-show{
    width: 400px;
    height: 600px;
}
.de-show img{
    width: 400px;
    height: 600px;
}
.de-mask{
    width: 150px;
    height: 150px;
    background: #898988;
    opacity: 0.5;
    top: 0;
    left: 0;
    display: none;
}
.de-show-mask{
    top: 0;
    left: 0;
    width: 400px;
    height: 600px;
}
.de-small-list li{
    float: left;
    margin: 5px 10px 0;
    cursor: pointer;
    position: relative;
}
.de-small-img{
    width: 50px;
    height: 64px;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select: none;
}
.de-small-mask{
    width: 50px;
    height: 64px;
    position: absolute;
    top: 0;
    left:0;
    background: #898988;
    opacity: 0.7;
}
.de-small-block{
    opacity: 0;
}
.de-bigshow{
    width: 400px;
    height: 600px;
    top: 0;
    left: 420px;
    border: 1px solid red;
    overflow: hidden;
    display: none;
}
.de-bigshow img{
    width:800px;
    height: 1200px;
}
.de-content{
    width: 535px;
    height: 520px;
    margin-left: 33px;
}
.de-content h3{
    font-size: 24px;
}
.de-content li{
    margin-top: 27px;
    margin-left: 10px;
    color: #999;
}
.de-content li:nth-child(2){
    margin-top: 17px;
}
.de-promotion-price{
    color: #ef2f23;
    font-size: 14px;
    font-weight: bold;
}
.de-evaluate-num{
    margin-left: 5px;
    margin-right:10px;
    color: #000;
}
 .de-sales-volume{
     margin-left: 5px;
     color: #000;
}
 .de-contact-kefu{
     margin-left: 40px;
     color: #999;
 }
 .de-color{
     width: 45px;
     height: 45px;
     vertical-align: top;
     margin-left: 15px;
     cursor: pointer;
     border: 1px solid #e5e5e5;
 }
.de-borderblack{
    border: 1px solid #000000;
}
.de-size{
    display: inline-block;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: #000;
    border: 1px solid #e5e5e5;
    margin-left: 12px;
    vertical-align: top;
    cursor: pointer;
}
.de-shopping{
    margin-left: 47px;
    color: #000;
}
.de-shopping span:not(.de-stock){
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select: none;
}
.de-number{
    display: inline-block;
    width: 43px;
    height: 23px;
    border: 1px solid #e5e5e5;
    text-align: center;
}
.de-add{
    margin-right: 10px;
}
.de-buy, .de-shopping-cart{
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height:50px;
}
.de-buy{
    background: #ef2f23;
    color: #fff;
    margin-left: 40px;
}
.de-shopping-cart{
    border: 1px solid #e5e5e5;
    color: #000;
    margin-left: 10px;
}
.de-follow{
    display: inline-block;
    width: 43px;
    height: 23px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    padding-left: 30px;
    margin-left: 40px;
    line-height:23px;
    color: #a0a0a0;
    background: url("../img/de-follow.png") no-repeat 10px 4px;
}
.de-share{
    display: inline-block;
    width: 43px;
    height: 23px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    padding-left: 30px;
    line-height:23px;
    color: #a0a0a0;
    background: url("../img/de-share.png") no-repeat 10px 4px;
    margin-left: 10px;
}
.de-service-sign{
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #ef3529;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    color: #ef3529;
    margin-right: 5px;
}
.de-service-content{
    margin-right: 15px;
}
.de-pay{
    height: 20px;
    vertical-align: middle;
}
.de-hot{
    margin-left: 112px;
}
.de-hot li{
    margin-top: 12px;
}
.de-main-footer{
    position: relative;
}
.de-sidebar{
    margin-top: 32px;
}
.de-store{
    width: 198px;
    border: 1px solid #EEEEEE;
}
.de-store-name{
    padding: 21px 0;
    text-align: center;
    background: #f6f6f6;
    color: #000;
    font-size: 14px;
    border-bottom:1px solid #EEEEEE;
}
.de-store-evaluate p{
    width: 25px;
    height: 30px;
    float: left;
    padding: 25px 0 21px 20px;
}
.de-store-evaluate span{
    color: #ef2f23;
}
.de-store-evaluate a{
    display: inline-block;
    width: 64px;
    height: 20px;
    border: 1px solid #EEEEEE;
    text-align: center;
    line-height:20px;
    color: #000;
    margin-left: 20px;
}
.de-store-search{
    margin-top: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px dashed #EEEEEE;
    border-bottom:1px dashed #EEEEEE;
    text-align: center;
}
.de-store-search input{
    width: 89px;
    height: 18px;
    border: 1px solid #d6d6d6;
}
.de-store-search span{
    display: inline-block;
    width: 66px;
    height: 22px;
    background: #484848;
    color: #fff;
    text-align: center;
    line-height:22px;
    cursor: pointer;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select: none;
}
.de-store-support{
    padding: 17px 0 14px 24px;
    vertical-align: middle;
}
.de-store-support span{
    display: inline-block;
    width: 26px;
    height: 26px;
    background: #ef2f23;
    text-align: center;
    line-height: 26px;
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 4px;
}
.de-store-support li:first-child{
    color: #ef2f23;
}
.de-store-support li:last-child{
    color: #666;
}
.de-classification{
    width: 198px;
    border: 1px solid #EEEEEE;
    margin-top: 21px;
}
.de-classification-name{
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    color: #000;
    background: #f6f6f6;
    border-bottom:1px solid #EEEEEE;
}
.de-classification-nav{
    margin-top: 22px;
    margin-left: 19px;
    padding-bottom: 15px;
}
.de-classification-nav li{
    cursor: pointer;
    line-height:30px;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select: none;

}
.de-classification-nav  img{
    vertical-align: -2px;
    margin-right: 8px;
    transition: all 500ms;
}
.de-classification-item{
    width: 120px;
}
.de-classification-item li{
    line-height:20px;
}
.de-classification-item a{
    color: #333;
}
.de-classification-item a:hover{
    color: #f00;
}
.de-look{
    margin-top: 31px;
    width: 198px;
    border: 1px solid #EEEEEE;
}
.de-look-name{
    padding: 11px 0;
    text-align: center;
    border-bottom:1px solid #EEEEEE;
    background: #f6f6f6;
    font-size: 16px;
    color: #000;
}
.de-look ul{
    width: 160px;
    padding-top: 19px;
    padding-left: 19px;
}
.de-look li{
    margin-bottom: 17px;
}
.de-look p{
    margin-top: 13px;
    color: #000;
}
.de-look img{
    vertical-align: middle;
    margin-right: 5px;
}
.de-xiala{
    display: block;
    width: 198px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-top:1px solid #EEEEEE;
    border-bottom:1px solid #EEEEEE;
    text-align: center;
    transition: all 500ms;
}
.de-infor{
    width: 738px;
    border: 1px solid #ececec;
    border-top:none;
    margin-left: 20px;
    margin-top: 32px;
}
.de-shopping-detail, .de-cumulative-evaluation, .de-another{
    padding: 20px 25px;
    border-right:1px solid #ececec;
    border-bottom:1px solid #eeeeee;
    font-size: 16px;
    background: #f6f6f6;
    cursor: pointer;
}
.de-scan-code{
    padding: 20px 25px 20px 25px;
    border-bottom:1px solid #eeeeee;
    font-size: 16px;
    background: #f6f6f6;
    cursor: pointer;
    width: 287px;
    text-align: right;
}
.de-cumulative-evaluation span{
    color: #b8b7b7;
}
.de-scan-code img{
    vertical-align: -2px;
}
.de-infornav-click{
    background: #fff;
    border-bottom:0;
    border-top:1px solid #ef2f23;
}
.de-detail-item, .de-evaluation-item, .de-another-item, .de-erweima-item{
    width: 740px;
}
.de-detail-item h4{
    width: 74px;
    margin-top: 43px;
    margin-left: 18px;
    font-size: 18px;
    border-bottom:1px solid #000000;
}
.de-detail-item p{
    margin-top: 20px;
    margin-left: 18px;
    font-size: 14px;
}
.de-show-list{
    width: 640px;
    margin: 0 auto;
}
.de_show_title{
    margin-top: 50px;
    margin-bottom: 50px;
}
.de-show-list .de_color{
    margin-right: 10px;
    margin-left: 30px;
}
.de-evaluation-item h4{
    width: 74px;
    margin-top: 43px;
    margin-left: 18px;
    font-size: 18px;
    border-bottom:1px solid #000000;
    margin-bottom: 45px;
}
.de-evaluate, .de-evaluate-classification{
    width: 676px;
    height: 62px;
    border: 1px solid #eaeaea;
    margin: 0 auto;
    padding-left: 20px;
}
.de-evaluation p:not(.de-evaluate-first){
    margin-left: 15px;
    margin-right: 15px;
    line-height:30px;
    color: #afbbc0;
}
.de-evaluation-title{
    width: 115px;
    text-align: center;
    display: block;
    color: #707591;
}
.de-evaluation img{
    vertical-align: -2px;
}
.de-evaluate-first{
    margin: 10px 0;
    font-size: 26px;
    color: #ef3406;
}
.de-evaluate-classification a{
    display: block;
    color: #ef3406;
    line-height: 70px;
}
.de-evaluation-all{
    width: 700px;
    margin-top: 21px;
}
.de-user-evaluation{
    margin-top: 18px;
    margin-bottom: 35px;
}
.de-user-portrait{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url("../img/de_user_portrait.png") no-repeat -12px -12px ;
}
.de-user-evaluation ul{
    width: 630px;
}
.de-evaluation-name, .de-evaluation-date{
    color: #000;
}
.de-evaulation-comment{
    margin: 10px 0;
}
.de-shopping-size, .de-shopping-color{
    color: #666;
    margin-right: 20px;
}
.de-another-item h4{
    width: 108px;
    margin-top: 43px;
    margin-left: 18px;
    font-size: 18px;
    border-bottom:1px solid #000000;
}
.de-another-sameitem{
    width:160px;
    margin: 10px 12px;
}
.de-another-sameitem a,.de-another-sameitem p{
    color: #000;
    overflow: hidden;
    display: block;
}
.de-another-sameitem h5, .de-another-sameitem p{
    margin-top: 3px;
}
.de-another-sameitem span{
    display: inline-block;
    width: 80px;
}
.de-another-sameitem img{
    vertical-align: -3px;
}
.de-erweima-item{
    text-align: center;
}
.de-erweima-item img{
    width: 220px;
    margin: 50px auto;
}
.de-infor-add{
    width: 239px;
    height: 288px;
    border: 1px solid #ececec;
    border-left:0;
    /*position: fixed;*/
    /*left: 1077px;*/
    /*top: 0;*/
}
.de-infor-top a{
    display: block;
    font-size: 20px;
    color: #000;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 14px;
    border-bottom:1px solid #ececec;
}
.de-infor-top img{
    vertical-align: middle;
}
.de-infor-item{
    width: 100px;
    font-size: 15px;
    margin-top: 25px;
    text-align: right;
    cursor: pointer;

}
.de-infor-item img{
    vertical-align: middle;
    margin-right: 24px;
}