a{color:#333}
.lp-warp{
    width:1200px;
    margin:0 auto;
}
.lp-top{
    padding-bottom:40px;
}
.lp-logo{
    background:url(../img/list_logo.gif) no-repeat;
    display:inline-block;
    float:left;
    margin-top:15px;
    width:256px;
    height:77px;
    text-indent:100%;
    overflow:hidden;
    white-space: nowrap;
}
.lp-search{
    float:right;
    margin-top:15px;
}
.lp-search-change{
    display:inline-block;
    color:#333;
    width:56px;
    height:24px;
    line-height:24px;
    text-align: center;
    font-size:12px;
    background:#f2f2f2;
    cursor:pointer;
}
.lp-change-clicked{
    color:#fff;
    background:#f36;
}
.lp-search-main{
    outline: none;
    width:440px;
    padding-left:8px;
    border:1px solid #ff3366;
    font-size:14px;
    line-height:28px;
}
.lp-search-btn{
    display:inline-block;
    width:70px;
    height:32px;
    vertical-align: bottom;
    background:#f36 url(../img/lisearch.png) no-repeat center center;
}
.lp-hotserach{
    margin-top:10px;
}
.lp-hotserach a{
    margin-right:12px;
}

/* 列表*/
.lp-nav{
    padding-bottom:2px;
    border-bottom:1px solid #f36;
}
.lp-nav-mask{
    width:70px;
    height:30px;
    border-bottom:2px solid #f36;
    position:absolute;
    z-index:-1;
}
.lp-navcontent{
    float:left;
    width:70px;
    height:30px;
    line-height:30px;
    font-size:14px;
    font-weight:bold;
    text-align:center;
}
.lp-nav-ul{

}
.lp-nav-a{
    display:inline-block;
    width:70px;
    height:30px;
    border-bottom:2px solid transparent;
}
.lp-nav-clicked{
    color:#ff3366;
    border-bottom:2px solid #f36;
}
/*展示*/
.lp-show-ul{
    border: 1px solid #ececec;
    margin-top: 15px;
}
.lp-show-li{
    display:inline-block;
    margin:20px 59px 25px 30px;
    font-size:12px;
}
.lp-show-left{
    display:inline-block;
    vertical-align:top;
    line-height:28px;
    text-align:center;
}
.lp-show-left img{
    margin-top:5px;
}
.lp-show-right{
    margin-left:10px;
    display:inline-block;
    width:136px;
    font-size:0;
    vertical-align:top;
}
.lp-show-right a{
    display:inline-block;
    width:68px;
    font-size:12px;
    line-height:28px;
}
.lp-show-right a:hover{
    color:#f36;
    text-decoration:underline;
}
.lp-select{
    border:1px solid #ececec;
    background:#f8f8f8;
    margin-top:10px;
}
.lp-select span{
    cursor:pointer;
    text-align:center;
    line-height:40px;
    width:60px;
    display:inline-block;
    height:40px;
}
.lp-select-low,.lp-select-height{
    width:40px;
    height:20px;
    background:#fff url(../img/money.png) no-repeat left center;
    padding-left:15px;
    outline:none;
    border:1px solid #efefef;
    vertical-align:middle;
}
.lp-select-btn{
    height:24px;
    width:48px;
    background:#fff;
    vertical-align:middle;
    outline:none;
}
.lp-select-click{
    height:20px;
    position:relative;
    background:#fff;
    border:1px solid #efefef;
}
.lp-select-price{
    background-size:10px 10px;
    margin-right:20px;
}
.lp-select-jt{
    width:10px;
    margin-left:2px;
}
.lp-select-price:hover .lp-select-jt{
    -webkit-transform: rotate(180deg);
    transform:rotate(180deg);
    transition:.6s all;
}
/*商品展示*/
.lp-goods-ul{
    margin-right:-25px;
}
.lp-goods-li{
    vertical-align: top;
    float:left;
    width:230px;
    margin-top:12px;
    margin-right:15px;
    line-height:22px;
}
.lp-goods-li img{
    width:224px;
    height:336px;
}
.lp-goods-detials{
    clear:both;
}
/*页面跳转*/
.lp-turnpage{
    margin-top:50px;
    margin-bottom:20px;
    text-align: center;
}
.lp-turnpage span{
    display:inline-block;
    width:32px;
    height:32px;
    border:1px solid #e1e1e1;
    text-align:center;
    line-height:32px;
    cursor:pointer;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select: none;
}
.lp-turnpage button{
    background:#fff;
    height:32px;
    line-height:32px;
    border:1px solid #e1e1e1;
    cursor:pointer;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select: none;
}
.lp-now-page{
    background:#ff7598;
    color:#fff;
}
/*颜色*/
.f36{color:#ff3366;}
.bgf36{background:#ff3366;}