body{
	background: #F2F0F0;
	padding-top: 122px;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form,button{
    margin:0;
}
a{
	text-decoration: none;
}
/*浮动*/
.fl{
	float: left;
}
.fr{
	float: right;
}
/* clear */
.clearfix:before,.clearfix:after{content:".";display:block;visibility:hidden;height:0;line-height:0;font-size:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.clear{clear:both;height:0;overflow:hidden;}
/*按钮禁用*/
.disabled{
	color:gray!important;
	border-color:#acacac!important; 
	outline:0!important; 
	cursor:default!important;
	pointer-events:none;
	text-shadow:1px 1px 1px #fff!important;
	}
.disabled:hover{text-decoration:none!important;}
/*内容*/
.zq-content{
	width: 900px;
	margin: 0 auto;
	background: white;
	padding: 40px 45px;
}
/*左边图片部分*/
.zq-content-left{
	padding-top: 20px;
	position: relative;
	float: left;
}
.zq-content-left h1{
	position: absolute;
	background: white;
	top: 16px;
	left:57px;
	z-index: 2;
}
/*登录页面*/
.login{
	padding-bottom: 15px;
	float: right;
	width: 363px;
	border:1px solid #E2E2E2;
}
.login-top{
	padding:20px 40px;
	border-bottom:1px solid #E2E2E2;
}
.login-top h5{
	color: #666;
	font-size:14px;
}
.login-top a{
	font-size:12px;
	color: #C3C3C2;
}
.login-bottom{
	padding: 16px 40px 0 40px;
}
.login-bottom input{
	height:28px;
	line-height: 28px;
	padding-left: 4px;
	font-size:14px;
	margin-bottom: 12px;
	border: 1px solid #E2E2E2;
	color: #BAAFB5;
}
.user{
	width: 276px;
}
.psw{
	width: 276px;
}
.login-bottom button{
	background: #FF5467;
	color: white;
	font-size:14px;
	border: none;
	font-family:"微软雅黑";
	text-align: center;
	padding: 0;
}
.login-button{
	width: 282px;
	height:40px;
	line-height:40px;
	margin-bottom: 10px;
	cursor: pointer;
}
.login-bottom  span{
	display: block;
	padding-top: 8px;
	font-size: 12px;
	color: #4D4C4C;
}
.login-bottom a{
	color: #FF5467;
	font-size:12px;
	display: block;
	padding-top: 8px;
	padding-left: 5px;
}
/*其他方式登录*/
.else-login{
	padding: 15px 0;
	width: 282px;
	margin:0 auto;
	border-top: 1px dotted #E2E2E2;
}
.else-login span{
	font-size: 14px;
	color: #868686;
	display: block;
	padding-bottom: 15px;
}
.else-login p{
	padding: 5px;
	font-size:12px; 
	float: left;
    margin-right: 6px;
}
.else-login p:hover{
	opacity: 0.5;
}
.else-login p a{
    color: white;
    display: inline-block;
    padding-top:4px;
    padding-left: 5px;
    float: left;
}
.else-login>p:nth-child(2){
	background: #14AEED;
}
.else-login>p:nth-child(3){
	background: #FC4F57;
}
.else-login>p:nth-child(4){
	background: #00CC00;
}


/*注册页面*/
.register{
	float: right;
	width: 363px;
	border:1px solid #E2E2E2;
}
.register-top{
	padding:20px 40px;
	border-bottom:1px solid #E2E2E2;
}
.register-top h5{
	color: #666;
	font-size:14px;
}
.register-top a{
	font-size:12px;
	color: #C3C3C2;
}
.register-bottom{
	padding: 16px 40px;
}
.register-bottom input{
	height:28px;
	line-height: 28px;
	padding-left: 4px;
	font-size:14px;
	margin-bottom: 12px;
	border: 1px solid #E2E2E2;
	color: #BAAFB5;
}
.register-bottom input:nth-child(1){
	width: 276px;
}
.register-bottom input:nth-child(2){
	width: 140px;
}
.register-bottom button{
	background: #FF5467;
	color: white;
	font-size:14px;
	border: none;
	font-family:"微软雅黑";
	text-align: center;
	padding: 0;
}
#get-code{
	width: 100px;
	height:28px;
	line-height: 28px;
}
#register-button{
	width: 282px;
	height:40px;
	line-height:40px;
	margin-bottom: 20px;
}
.register-bottom  span{
	display: block;
	padding-top: 8px;
	font-size: 12px;
	color: #4D4C4C;
}
.register-bottom a{
	color: #FF5467;
	font-size:12px;
	display: block;
	padding-top: 8px;
	padding-left: 5px;
}



