*{
    margin:0px;
    padding:0px;
    list-style:none;
    font-family:"微软雅黑";
}
a{
	text-decoration:none;
}
.box{
	width:100%;
	height:4342px;
	font-size:12px;
	color:#000;
	background:#f4f4f4;
}
.head{
	width:100%;
	height:70px;
	border:1px solid #ddd;
}
.head_{
	width:1200px;
	height:70px;
	margin:0 auto;
}
.head_ div:nth-child(1){
	width:144px;
	height:70px;
	float:left;
	background:url(../img/gwc.png) no-repeat center;
}
.head_ div:nth-child(2){
    width:493px;
    height:24px;
    margin-top:16px;
    float:right;
    background:url(../img/liucheng1.png) no-repeat left;
}
.head_ ul{
	width:493px;
	height:12px;
	margin-top:24px;
}
.head_ li{
	width:50px;
	height:12px;
	float:left;
	text-align:center;
	margin-right:100px;
}
.head_ li:nth-child(1){
	color:#fd7087;
	text-align:left;
}
.head_ li:nth-child(4){
	width:43px;
	text-align:right;
	margin-right:0;
}
.main{
	width:1200px;
	height:1009px;
	margin:0 auto;
	background:#fff;
}
.main_top{
	width:1200px;
	height:95px;
	line-height:95px;
	border-bottom:1px solid #999;
}
.main_top p{
	margin-left:35px;
	font-size:14px;
	color:#0c0c0c;
	font-weight:bold;
}
.main_mid{
	width:1200px;
	height:430px;
	margin-top:85px;
	font-size:14px;
}
.main_mid div:nth-child(1){
	width:1200px;
	height:16px;
	text-align:center;
	line-height:16px;
}
.main_mid div:nth-child(2){
	width:1200px;
	height:210px;
	margin-top:26px;
	background:url(../img/erweima.png) no-repeat center;
}
.main_mid div:nth-child(3){
    width:1200px;
    height:15px;
    margin-top:32px;
    text-align:center;
	line-height:16px;
}
.main_end{
	width:1200px;
	height:347px;
}
.main_end_top{
	height:40px;
	margin-left:35px;
}
.main_end_top p:nth-child(1){
	font-size:14px;
	float:left;
}
.main_end_top p:nth-child(2){
	margin-top:10px;
	line-height:40px;
	margin-left:685px;
	padding-left:25px;
	float:left;
	background:url(../img/odsx.png) no-repeat left;
}
.main_end_bottom{
	width:1200px;
	height:205px;
	margin-top:20px;
}
.main_end_bottom ul{
	width:525px;
	height:205px;
	margin:0 auto;
}
.main_end_bottom li{
	width:120px;
	height:205px;
	margin-right:80px;
	float:left;
}
.main_end_bottom li:nth-child(3){
	margin-right:0;
}
.main_end_bottom img{
	width:120px;
	height:180px;
}
.main_end_bottom p{
	font-size:14px;
	width:120px;
	height:13px;
	margin-top:10px;
	text-align:center;
}