*{
    margin:0px;
    padding:0px;
    list-style:none;
}
a{
	text-decoration:none;
	color:#3b3b3b;
}
.box{
	width:100%;
	height:1080px;
}
.head{
	width:100%;
	height:28px;
	background:#f2f2f2;
}
.head_{
	width:1200px;
	height:28px;
	margin:0 auto;
	font-size:12px;
	color:#000;
}
.head ul{
	width:552px;
	height:28px;
	margin-left:522px;
	float:right;
}
.head ul li{
	height:28px;
	line-height:28px;
	margin-right:20px;
	padding-left:17px;
	float:left;
	border-left:1px dashed #ddd;
}
.head ul li:nth-child(3){
	background:url(../img/xing.png) no-repeat left;
}
.head_ .headol{
	position:absolute;
    background-color:#F8F8F8;
    border:1px solid #eee;
    line-height:20px;
    margin-left:-19px;
    display:none;
}
.head_ .headol>li{
    float:none;
}
.head ul li:nth-child(4){
	background:url(../img/che.png) no-repeat left;
}
.head ul li:nth-child(5){
	background:url(../img/ye.png) no-repeat left;
}
.nav{
	width:100%;
	height:138px;
	margin-top:20px;
	border-bottom:1px solid #ff5367;
}
.nav_{
	width:1200px;
	height:100px;
	margin:0 auto;
}
.nav_>img{
	width:285px;
	height:95px;
	float:left;
}
.search{
	width:518px;
	height:85px;
	float:right;
}
.search_top{
	width:518px;
	height:56px;
}
.search_top .search_top_one{
	width:518px;
	height:22px;
}
.search_top .search_top_two{
    width:518px;
    height:55px;
}
.search_top .search_top_one li{
	width:56px;
	height:24px;
    float:left;
    text-align:center;
}
.search_top .search_top_one li:nth-child(1){
	background:#ff3366;
	color:#fff;
}
.search_top .search_top_one li:nth-child(2){
	background:#f2f2f2;
	color:#9a9a9a;
}
.search_top_two li{
	float:left;
	border:1px solid #ff4e7a;
}
.search_top_two li:nth-child(1) input{
    width:440px;
    height:24px;
}
.search_top_two li:nth-child(2){
	background:#ff3366 url(../img/seek.png) no-repeat center;
	background-size:30%;
	width:70px;
	height:28px;
}
.search_top_two li:nth-child(2) img{
	width:24px;
	height:20px;
	margin-left:25px;
	margin-top:5px;
}
.search_bottom a{
	font-size:12px;
	color:#404040;
	margin-right:8px;
}
.nav_second{
	width:1200px;
	height:40px;
	margin:0 auto;
	font-size:14px;
}
.nav_second ul li{
	height:40px;
	line-height:40px;
	float:left;
	margin-left:80px;
}
.nav_second ul li:nth-child(1){
	margin-left:0;
}
.nav_second ul li span{
	display:inline-block;
	width:280px;
	background:#ff5367;
	text-align:center;
	margin-left:0px;
}
.nav_second .nav_secondol{
	width:276px;
	height:344px;
	border:2px solid #ff3366;
	font-size:12px;
}
.nav_second .nav_secondol li{
	width:240px;
	height:40px;
	margin-left:20px;
	border-bottom:1px dashed #ddd;
	background:url(../img/jiao2.png) no-repeat right;
}
.nav_second .nav_secondol li:nth-child(1){
	margin-left:20px;
}
.nav_second .nav_secondol li a{
    margin-right:10px;
}
.nav_second .nav_secondol li a:nth-child(1){
	margin-right:20px;
}
.middle{
	width:1200px;
	height:4261px;
	margin:0 auto;
}
.middle_top{
	width:1200px;
	height:350px;
	margin-left:300px;
	position:relative;
}
.middle_top img{
	width:895px;
	height:332px;
	top:15px;
	position:absolute;
	left:0;
}
.middle_second{
	width:1200px;
	height:284px;
	margin-top:20px;
}
.middle_second ul li{
	width:280px;
	height:284px;
	margin-right:25px;
	float:left;
}
.middle_second img{
	width:280px;
	height:284px;
}
.middle_second ul li:nth-child(4){
	margin-right:0;
}
.middle_third{
	width:1200px;
	height:112px;
}
.middle_third div{
	height:112px;
	line-height:112px;
	margin-left:12px;
}
.middle_third span{
	width:30px;
	height:24px;
	border-radius:5px;
	background:black;
	color:#fff;
	font-size:18px;
	margin-left:10px;
	margin-right:10px;
}
.middle_four{
	width:1200px;
	height:1148px;
	font-size:14px;
	color:#242424;
}
.middle_fourpho{
	width:1200px;
	height:125px;
    background:url(../img/hot.png)no-repeat center;
}
.middle_fourlist ul{
	width:1200px;
	height:463px;
	margin-bottom:45px;
}
.middle_fourlist li{
	width:223px;
	height:463px;
	margin-right:20px;
	float:left;
}
.middle_fourlist li:nth-child(5){
	margin-right:0;
}
.middle_fourlist div:nth-child(1){
	width:223px;
	height:340px;
	background:url(../img/nvzhuang5.png)no-repeat left;
}
.middle_fourlist div:nth-child(2){
	width:223px;
	height:46px;
	line-height:46px;
}
.middle_fourlist div:nth-child(3){
	width:223px;
	height:36px;
}
.middle_fourlist div:nth-child(3) p{
	width:92px;
	height:22px;
	float:left;
}
.middle_fourlist div:nth-child(3) p:nth-child(1){
	font-size:22px;
	color:#ff3366;
}
.middle_fourlist div:nth-child(3) p:nth-child(2){
    text-decoration:line-through;
    font-size:12px;
    color:#bfbfbf;
    margin-top:7px;
}
.middle_fourlist div:nth-child(4){
	width:223px;
	height:40px;
}
.middle_fourlist div:nth-child(4) li{
	width:100px;
	height:40px;
}
.middle_fourlist div:nth-child(4) li:nth-child(1){
	color:#ff4873;
	float:left;
	margin-right:0;
}
.middle_fourlist div:nth-child(4) li:nth-child(2){
	width:95px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#fff;
	border-radius:10px;
	background:#ff3366;
	float:right;
	margin-right:0;
}
.down{
	width:100%;
	height:308px;
	background:#f5f5f5;
	margin:0 auto;
	border-top:1px solid #ddd;
}
.down_{
	width:1200px;
	height:250px;
}
.down_top{
	width:1200px;
	height:230px;
	margin-left:430px;

}
.down .down_ .down_top>ul{
	width:140px;
	height:175px;
	float:left;
	margin-right:120px;
	margin-top:35px;
}
.down_top>ul>li{
	width:70px;
	height:18px;
	margin-bottom:250x;
}
.down_top>ul>li>a{
	font-size:12px;
	color:#767573;
	margin-top:20px;
	display:block;
}
.down_top>ul>li:nth-child(1){
	font-size:16px;
	color:#767573;
	font-weight:bold;
}
.down_top .lastul span{
	margin-left:20px;
}
.down_top .lastul>li:nth-child(2){
	background:url(../img/weibo.png) no-repeat left;
}
.down_top .lastul>li:nth-child(3){
	background:url(../img/kongjian.png) no-repeat left;
}
.down_top .lastul>li:nth-child(4){
	background:url(../img/tengxun.png) no-repeat left;
}
.down_footer{
	width:1200px;
	height:50px;
	border-top:1px solid #ddd;
	margin-left:430px;
	font-size:12px;
	color:#767573;
	text-align:center;
}
.down_footer p{
	margin-top:10px;
}